@page "/"

<h1>Dashboard</h1>

<p>
    Dashboard with info boxes.
</p>

<div class="row">
    <div class="col-3">
        <InfoBox Source="A"></InfoBox>
    </div>
    <div class="col-3">
        <InfoBox Source="B"></InfoBox>
    </div>
    <div class="col-3">
        <InfoBox Source="E"></InfoBox>
    </div>
</div>
