@using Services
@using Models.Messages
@using System.Reactive.Linq
@implements IDisposable
@inject IMessageService MessageService


<div class="card">
    <h5 class="card-header">
        Info box for <strong>@Source</strong>
    </h5>
    <div class="card-body">
        @if (LastCounterMessage != null)
        {
            <h1 class="display-1 text-center">
                @LastCounterMessage.Counter
            </h1>
        }
        else
        {
            <h1 class="display-1 text-center">
                <span class="spinner-grow text-dark align-middle"></span>
            </h1>
        }
        @if (LastErrorMessage != null)
        {
            <p class="card-text">
                @LastErrorMessage.Error <small>@LastErrorMessage.Date</small>
            </p>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Source { get; set; }

    public ErrorMessage LastErrorMessage { get; set; }

    public CounterMessage LastCounterMessage { get; set; }

    IDisposable subscriber1;
    IDisposable subscriber2;

    public void Dispose()
    {
        subscriber1?.Dispose();
        subscriber2?.Dispose();
    }

    protected override void OnInitialized()
    {
        subscriber1 = MessageService.Messages
            .Where(x => x.Source == Source)
            .OfType<ErrorMessage>()
            .Select(x => Observable.FromAsync(async () => await InvokeAsync(() =>
            {
                LastErrorMessage = x;
                StateHasChanged();
            })))
            .Switch()
            .Subscribe();

        subscriber2 = MessageService.Messages
            .Where(x => x.Source == Source)
            .OfType<CounterMessage>()
            .Select(x => Observable.FromAsync(async () => await InvokeAsync(() =>
            {
                LastCounterMessage = x;
                StateHasChanged();
            })))
            .Switch()
            .Subscribe();
    }
}
